* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #EEE;
  font-family: 'Roboto slab', serif;
}

.series-frame {
  display: flex;
  align-items: center;
  
  max-width: 600px;
  margin: 30px;
  padding: 10px;
  border: 2px solid #EEE;
}

.series-frame h2 {
  margin-right: 80px;
}